.learningmap-menubar {
    padding: 0;
}

#learningmap-advanced-settings-icon {
    font-size: x-large;
    cursor: pointer;
}

.learningmap-mapcontainer {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#learningmap-activity-setting {
    position: absolute;
    --pos-x: 0;
    --pos-y: 0;
    --map-width: 800;
    --map-height: 100;
    --scaling-factor: 1;
    display: none;
    left: 0;
    top: 0;
    transform:
        translateX(
            min(
                var(--pos-x),
                calc(var(--map-width) - 100%)
            )
        )
        translateY(
            min(
                var(--pos-y),
                calc(var(--map-height) - 100%)
            )
        );
    z-index: 1;
}

#learningmap-advanced-settings {
    position: absolute;
    z-index: 1;
    right: 0;
}

#learningmap-advanced-settings label {
    justify-content: left;
}

#fitem_id_introeditor_text {
    display: none;
}

.learningmap-scaling-svg-container {
    position: relative;
    min-height: 100px;
    width: 100%;
    max-width: 90vw;
}

.learningmap-scaling-svg {
    vertical-align: top;
    width: 100%;
    left: 0;
    top: 0;
}

.learningmap-menubar input[type="color"] {
    width: 2rem;
}

.learningmap-used-activity {
    color: green;
}

.learningmap-disabled-activity {
    color: lightsalmon;
}
