{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/activityselector

    Template for displaying the activity selector in the editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    "sections":[
        {
            "name":"Section 0",
            "coursemodules":[
                {
                "id":"1039",
                "name":"Activity 1",
                "completionenabled":"true",
                "hidden":"false"
                },
                {
                "id":"1040",
                "name":"Activity 2",
                "completionenabled":"false",
                "hidden":"false"
                }
            ]
        },
        {
            "name":"Section 1",
            "coursemodules":[
                {
                "id":"1043",
                "name":"Activity 3",
                "completionenabled":"true",
                "hidden":"false"
                }
            ]
        }
    ]
    }
}}
<div id="learningmap-activity-setting" class="card border-dark">
    <div class="card-body">
    <div class="card-title alert alert-dark">{{#str}} editplace, learningmap {{/str}}</div>
    <div class="card-text">{{#str}} activity, core {{/str}}
    <select id="learningmap-activity-selector">
    {{#sections}}
        <optgroup label="{{#shortentext}} 30, {{{name}}} {{/shortentext}}">
        {{#coursemodules}}
        {{^completionenabled}}
        <option value="{{id}}" disabled class="learningmap-disabled-activity" title="{{#str}} nocompletionenabled, learningmap {{/str}}">{{#shortentext}} 30, {{{name}}} {{/shortentext}}</option>
        {{/completionenabled}}
        {{#completionenabled}}
        <option value="{{id}}" title="{{name}}" data-activity-hidden="{{hidden}}">{{#shortentext}} 30, {{{name}}} {{/shortentext}}</option>
        {{/completionenabled}}
        {{/coursemodules}}
        </optgroup>
    {{/sections}}
    </select><br>
    <div class="alert alert-warning mt-3" hidden id="learningmap-activity-hidden-warning">{{#str}} hiddenactivitywarning, learningmap {{/str}}</div>
    <input type="checkbox" id="learningmap-activity-starting"> {{#str}} startingplace, learningmap {{/str}}<br>
    <input type="checkbox" id="learningmap-activity-target"> {{#str}} targetplace, learningmap {{/str}}
    </div>
</div>
</div>