{{!
mod_learningmap - A moodle plugin for easy visualization of learning paths

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/activityselector
}}
<div id="learningmap-activity-setting" class="card" hidden>
    <div class="card-body">
    <div class="card-title alert alert-dark">{{#str}} editplace, learningmap {{/str}}</div>
    <div class="card-text">{{#str}} activity, core {{/str}}
    <select id="learningmap-activity-selector">
    {{#sections}}
        <option disabled title="{{name}}">{{#shortentext}} 30, {{{name}}} {{/shortentext}}</option>
        {{#coursemodules}}
        <option value="{{id}}" title="{{name}}">{{#shortentext}} 30, {{{name}}} {{/shortentext}}</option>
        {{/coursemodules}}
    {{/sections}}
    </select><br/>
    <input type="checkbox" id="learningmap-activity-starting"/> {{#str}} startingplace, learningmap {{/str}}<br/>
    <input type="checkbox" id="learningmap-activity-target"/> {{#str}} targetplace, learningmap {{/str}}
    </div>
</div>
</div>