{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/cssskeleton

    Template for the stylesheet of the SVG.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "id": 10,
        "placecolor": "#c01c28",
        "strokecolor": "#ffffff",
        "strokeopacity": 1,
        "textcolor": "#ffffff",
        "visitedcolor": "#26a269",
        "height": 2111,
        "width": 800,
        "hidepaths": false,
        "mapid": "63bee8a5f1a1e",
        "usecheckmark": false,
        "editmode": true,
        "version": 2024032402,
        "pulse": false,
        "hover": false,
        "showall": false,
        "showtext": false,
        "slicemode": false
    }
}}
<style id="learningmap-svgstyle" type="text/css">

#learningmap-svgmap-{{mapid}} .learningmap-place {
    fill: {{ placecolor }};
    stroke-width: 3px;
    stroke: {{ strokecolor }};
    stroke-opacity: {{ strokeopacity }};
    {{^editmode}}
    {{^showall}}
    visibility: hidden;
    {{/showall}}
    {{/editmode}}
}

#learningmap-svgmap-{{mapid}} .learningmap-place.learningmap-visited {
    visibility: visible;
    opacity: 1;
    fill: {{ visitedcolor }};
}

#learningmap-svgmap-{{mapid}} .learningmap-path {
    stroke: {{ strokecolor }};
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
    {{#hidepaths}}
    {{#editmode}}
    opacity: 0.5;
    {{/editmode}}
    {{^editmode}}
    visibility: hidden;
    {{/editmode}}
    {{/hidepaths}}
    {{^hidepaths}}
    {{^editmode}}
    {{^showall}}
    visibility: hidden;
    {{/showall}}
    {{#showall}}
    filter: grayscale(50%);
    opacity: 0.2;
    {{/showall}}
    {{/editmode}}
    {{/hidepaths}}
}

#learningmap-svgmap-{{mapid}} text {
    fill: {{ textcolor }};
    stroke: none;
    font-family: FreeSans;
    font-size: 20px;
    {{^showtext}}display: none;{{/showtext}}
}

#learningmap-svgmap-{{mapid}} .learningmap-targetplace {
    stroke-dasharray: 1,1;
}

#learningmap-svgmap-{{mapid}} .learningmap-checkmark {
    stroke-width: 3px;
    stroke-linecap: round;
    stroke: {{ strokecolor }};
    fill: none;
}
{{^editmode}}
#learningmap-svgmap-{{mapid}} .learningmap-hidden * {
    {{^showall}}
    visibility: hidden;
    {{/showall}}
    {{#showall}}
    filter: grayscale(50%);
    opacity: 0.5;
    {{/showall}}
}

#learningmap-svgmap-{{mapid}} .learningmap-place.learningmap-reachable,
#learningmap-svgmap-{{mapid}} .learningmap-path.learningmap-reachable {
    visibility: visible;
    opacity: 1;
}

#learningmap-svgmap-{{mapid}} .learningmap-waygone {
    stroke: {{visitedcolor}};
}

{{#hover}}
#learningmap-svgmap-{{mapid}} .learningmap-place.learningmap-reachable:hover,
#learningmap-svgmap-{{mapid}} .learningmap-place.learningmap-reachable:not(.learningmap-visited):hover {
    animation: none;
    stroke-width: 5px;
    stroke-opacity: 1;
}
{{/hover}}
{{#pulse}}
#learningmap-svgmap-{{mapid}} .learningmap-place.learningmap-reachable:not(.learningmap-visited) {
    animation: pulse 1.5s infinite;
    stroke-opacity: 1;
}

@keyframes pulse {
    0% {
        stroke-width: 3px;
    }
    50% {
        stroke-width: 7px;
    }
    100% {
        stroke-width: 3px;
    }
}
{{/pulse}}
{{/editmode}}
{{#editmode}}
#learningmap-svgmap-{{mapid}} .learningmap-place:hover {
    fill: blue;
}
#learningmap-svgmap-{{mapid}} .learningmap-path:hover {
    stroke: blue;
    stroke-width: 6px;
}
#learningmap-svgmap-{{mapid}} .learningmap-selected {
    stroke: green;
}
#learningmap-svgmap-{{mapid}} .learningmap-selected-activity-selector {stroke-dasharray: 10; animation: dashdraw 4s linear infinite;}
       @keyframes dashdraw {to {stroke-dashoffset: 200;}}

#learningmap-svgmap-{{mapid}} .learningmap-emptyplace {
    opacity: 0.5;
}
{{/editmode}}
</style>