{{!
mod_learningmap - A moodle plugin for easy visualization of learning paths

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/inlinehelp

    Template for displaying the inline help buttons.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "usecaselink": "https://www.mebis.bayern.de/infoportal/support-bereich/lernplattform-support-bereich/lernlandkarten/"
    }
}}
<div class="form-group row fitem">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <a class="btn btn-primary" data-toggle="modal" data-placement="right" data-target="#learningmap-intro-modal-dialogue" data-html="true">{{#str}} editorhelp, learningmap {{/str}}</a>
        {{#usecaselink}}<a href="{{ usecaselink }}" class="btn btn-primary" target="_blank" rel="noreferrer noopener">{{#str}} usecasehelp, learningmap {{/str}}</a>{{/usecaselink}}
    </div>
</div>