{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/placesettings

    Template for displaying the place settings in the editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none


    Example context (json):
    {
        "placefeatures" : [
            {
                "name": "placecolor",
                "title": "Color for unvisited places",
                "text": "This option sets the color of the unvisited places (i.e. places where the corresponding activity is not yet completed) on the map.",
                "alt": "Help",
                "type": "color"
            },
            {
                "name": "visitedplacecolor",
                "title": "Color for visited places",
                "text": "This option sets the color of the visited places (i.e. places where the corresponding activity is completed) on the map.",
                "alt": "Help",
                "type": "color"
            }
        ]
    }
}}
<div id="learningmap-place-settings-menu" class="card border border-dark learningmap-menu" hidden>
    <div class="card-body">
        <div class="card-title alert alert-dark">{{#str}} placesettings, learningmap {{/str}}
            <button type="button" class="ml-2 mb-1 close" aria-label="Close" id="learningmap-place-settings-close">
                <span>&times;</span>
             </button>
        </div>
        <div class="card-text">
            {{#placefeatures}}
            <div class="row border-top border-bottom border-light">
                <div class="col-10">
                    <label for="learningmap-place-settings-{{name}}">{{title}}</label>
                    {{>core/help_icon}}
                </div>
                <div class="col">
                    {{#iscolor}}
                        <button id="learningmap-place-settings-jscolor-{{name}}" data-jscolor="{value: '#ffffffff',valueElement:'#learningmap-place-settings-{{name}}',alphaChannel:true{{#palette}},palette:'{{palette}}', hideOnPaletteClick:true{{/palette}}}"></button>
                    {{/iscolor}}
                    <input
                        {{#iscolor}}type="text" class="learningmap-colorpicker"{{/iscolor}}
                        {{^iscolor}}type="{{type}}"{{/iscolor}} id="learningmap-place-settings-{{name}}"/>
                </div>
            </div>
            {{/placefeatures}}
        </div>
    </div>
</div>
