{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_learningmap/rendercontainer

    Template for the container the learningmap is being rendered into.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * cmId The course module id of this learningmap
    * isIntro If this is being rendered as intro in the course or in separate view page

    Example context (json):
    {
        "cmId": "123",
        "enableLiveUpdater": true,
        "contentbeforemap": "<p>Some content before the map</p>",
        "hascontentbeforemap": true
    }
}}
<div class="learningmap-container">
  {{#hascontentbeforemap}}
  <div class="learningmap-content-before-map">
    {{{contentbeforemap}}}
  </div>
  {{/hascontentbeforemap}}
  <div id="learningmap-render-container-{{cmId}}" class="learningmap-render-container">
    {{> mod_learningmap/loadingplaceholder}}
  </div>
</div>
{{#js}}
  require(['mod_learningmap/renderer'], function(renderer) {
    renderer.init({{cmId}});
  });
  {{#enableLiveUpdater}}
      require(['mod_learningmap/initliveupdater'], function(initliveupdater) {
        initliveupdater.init({{cmId}});
      });
  {{/enableLiveUpdater}}
{{/js}}
